@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Croissant+One&family=Handlee&family=Indie+Flower&family=Patrick+Hand+SC&family=Poiret+One&family=Zilla+Slab+Highlight&display=swap');

body{margin: 0%; color: 'black';}

h1{font-family: 'Berkshire Swash', cursive; font-size: 4em; color:#0000;text-align:left;font-weight: 1;margin: -150px 0 0 90px;}

h2{font-family: 'Berkshire Swash', cursive; font-size: 9em; color: #0000; text-align:center;}

h3{font-family: 'Passions Conflict', cursive; font-size: 3.3em; color: #0000; text-align:center;font-weight: 1;}

h4{font-family: 'bodoni moda'; font-size: medium; font-weight:normal;color: #0000;text-align:center;}

h5{font-family: 'Passions Conflict', cursive; font-size: 7em; color: #0000;text-align:center;font-weight: 1;}

h6{font-family: 'Passions Conflict', cursive; font-size: 3em; color: #0000; text-align:center;}

h7{font-family: 'Berkshire Swash', cursive; font-size: 1.8em;color: #0000;text-align:center;}

h8{font-family: 'Berkshire Swash', cursive; font-size: 1.4em;color: #0000;text-align:center;}

h9{font-family: 'Playfair Display', serif;}


 

