@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Vollkorn+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Croissant+One&family=Handlee&family=Indie+Flower&family=Patrick+Hand+SC&family=Poiret+One&family=Zilla+Slab+Highlight&display=swap');

@CHARSET "ISO-8859-1";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,h7,h8,h9,pre,
form,fieldset,/*input,textarea*/,p,blockquote,th,td {padding: 0;margin: 0;}

a{font-family: 'Vollkorn SC', serif;text-decoration:none;color:black;font-size:0.33em;}

table {border-spacing: 0;}

fieldset,img {border: 0;}

address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal;font-style: normal;}

strong{font-weight:bolder ; font-size:larger;}

ol,ul {list-style: none;margin:0;padding:0;font-size:1.4ch;}

th {font-family: 'Rock Salt', cursive; font-size: 0.66em; color: black; text-align:center;}

h1,h2,h3,h5,h6 {font-size: 100%;margin:0;padding:0;color: black;}

q:before,q:after {
    content:'';}
abbr,acronym {border: 0;}


/* Custom CSS
 * --------------------------------------- */



body{margin: 0%;}

h1{font-family: 'Berkshire Swash', cursive; font-size: 4em; color:black;text-align:left;font-weight: 1;margin: -140px 0 0 90px;}

h2{font-family: 'Passions Conflict', cursive; font-size: 2em; color: black; text-align:center;}

h3{font-family: 'Passions Conflict', cursive; font-size: 3.3em; color: black; text-align:center;font-weight: 1;}

h4{font-family: 'Passions Conflict', cursive; font-size: 3.9em; color: black; text-align:center;font-weight: 1;}

h5{font-family: 'Passions Conflict', cursive; font-size: 7.7em; color: black;text-align:center;font-weight: 1;}

h6{font-family: 'Passions Conflict', cursive; font-size: 3em; color: black; text-align:center;}

h7{font-family: 'Berkshire Swash', cursive; font-size: 1.8em;color: black;text-align:center;}

h8{font-family: 'Berkshire Swash', cursive; font-size: 1.4em;color:black;text-align:center;}

h9{font-family: 'Playfair Display', serif;}

p{font-family: 'Berkshire Swash', cursive; font-weight: normal;line-height: 0.8em; font-size: 2em;margin:0;padding: 10px 

50px 20px;color: black;}
 
em{font-family: 'Vollkorn SC', serif; color: black;font-size: 1.1em;margin: -150px 0 -150px 0;}

code{font-family: 'Passions Conflict', cursive; font-size: 2.9em;}
